extends layout

block content
        form(method='POST', action='/add')
                label(for='name') Add Name
                br
                input(name='name')
                input(type='submit', value='Add')
                if (error)
                        p #{error}
        for names in nameList
                p #{names.name}
